  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Poppins', sans-serif;
}
html {
  font-size: 62.5%;
}

:root {
  --cancel: #E94B4B;
  --submit: #26CA85;
  --primary: rgb(25, 118, 210);
  --bgColor: linear-gradient(160deg, #80D0C7 0%, #25a3ec 100%);
  --primaryWhite: '#F5F3EF';
}
a {
  text-decoration: none;
  color: black;
}
.MuiPaper-root a:hover {
  /* background-color: black; */
  color: rgb(255, 255, 255);
}
button:hover{
  cursor: pointer;
}

.navbar__logo, .navbar__home, .navbar__cart, .navbar__admin {
  font-size: 2rem;
  padding: 0.8rem;
  border-radius: 10px;
}
.navbar__logo,.navbar__admin {
  margin-right: 6.8rem;
}
.navbar__logo img {
  margin: 0 0.8rem;
  width: 3rem;
  vertical-align: middle;
}

/* Home section start from here */
.home {
  display: flex;
  height: 1024px;
  font-size: 2rem;
  background-image: url(./images/home_bg_cart.svg);
  background-size: cover;
  background-color: #af9990;

  /* background: url(./images/cart_bg.svg); */
  /* background-size: cover; */
  /* background-color: #0093E9; */
/* background-image: var(--bgColor) */


}
.home__camera,
.home__details {
  padding-top: 10rem;
}
.home__details {
  padding-left: 4.0rem;
  /* width: 40%; */
  width: 35%;
}
.home__camera {
  width: 65%;
  /* background-size: cover; */
  /* background: url(./images/home_details_bg.svg); */
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__camera>*{
  margin: .8rem;
}
.home__clicked-image,.home__camera-screen{
  /* width: 500px; */
  width: 70%;
  height: 400px;
  background-color: black;
  text-align: center;
  border: none;
  margin-bottom: 6rem;
}
.home__camera-screen video{
  object-fit: cover;
}
.home__camera img{
  width: 100%;
  height: 100%;
  /* height: 400px; */
  border: 25px solid white;
  color: white;
  object-fit: cover;
}
@keyframes pulse {
            100% {
              /* transform: scale(1); */
              transform: rotate(360deg);
              box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
            }
          }

.home__address{
  font-size: 1.6rem;
  width: 60%;
  line-height: 2.4rem;
  margin-bottom: 4rem;
}
.home__address span{
  display: block;
  font-weight: 700;
}
.home__line{
  font-size: 3.6rem;
  line-height: 4.8rem;
  text-align: center;
  margin: 3.2rem 0px 3.2rem 7rem;
  width: 70%;
}
.home__form{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* margin: 0;  */
}

.cart{
  /* background: url(./images/cart_bg.svg);
  background-size: cover; */
  /* background-image: var(--bgColor); */

  background-image: url(./images/home_bg_cart.svg);
  background-size: cover;
  background-color: #af9990;

  /* background-color: #90efc7; */

  height: 1024px;
  padding: 7.6rem 10rem 0 4rem;
  color: white;
}
.cart__title{
  font-size: 1.8rem;
  font-weight: 500;
}
.cart__description{
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

/* cart-item */
.cart-item img{
  height: 3rem;
}
.cart-item,.cart__input{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* background-color: white; */
  /* background-color: #ececec; */
  background-color: #F8F4EF;
  margin: 2.2rem 0;
  border-radius: 5px;
  /* padding: .8rem; */
  padding: 1.5rem;
}
.cart__input:first-child{
  margin-top: 0px;
}
.cart-item__quantity input{
  border: none;
  text-align: center;
  width: 10%;
  height: 2.3vh;
}


.cart-item__description,.cart-item__title,.cart-item__price{
  color: black;
}
.cart-item__title{
  font-size: 1.8rem;
}
.cart-item__description,.cart-item__price{
  font-size: 1.4rem;
}

.cart__input input{
  /* width: 60%; */
  width: 35%;
  height: 5rem;
  font-size: large;
}
.cart__input input::placeholder{
  padding-left: 1rem;
}

.cart__container{
  display: flex;
  justify-content: space-between;
}
.cart__wrapper{
  width: 50%;
}
.cart__items{
  /* width: 50%; */
  width: 100%;
}


/* cart item bg #ececec */
/* padding: '1.5rem 1.5rem' */
/* width: 30% */